/* Nav Bar CSS */
ul{
    margin: 0 auto;
}

#container2{
    margin-top: 20px;
    
}



header .portrait {
    height: 200px;
}


.img-circle{
    border-radius: 100%;
}
/* Header CSS */


/* Section CSS */



/* About Section CSS */



/* Portfolio Item CSS */



/* Footer CSS */



/* Button CSS */


